.ficha-informacoes {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 150px 180px 120px 120px;
    grid-template-rows: 150px 205px 200px;
    padding: 5px;
    gap: 5px;
}
.informacoes-gerais {
    height: 100%;
    width: 99.5%;
    grid-column: span 5;
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.campo-nome, .campo-idade-personagem, .campo-data-nascimento-personagem, .campo-altura, .campo-peso-personagem, .campo-dinheiro, .campo-data-atual, .campo-moradia, .campo-geas, .campo-data-nascimento-personagem, .campo-mao-dominante, .campo-data-atual {
    height: 30px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 5px;
}
#titulo-informacoes {
    width: 100%;
    margin: 2px;
}
.campo-subtitulo {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.campo-nome  {
    width: 100%;
}
#label-nome-personagem {
    width: 7.5%;
}
#input-nome-personagem {
    width: 92.5%;
}
.campo-data-nascimento-personagem {
    width: 46%;
}
#label-data-nascimento-personagem {
    width: 49%;
}
#input-data-nascimento-personagem {
    width: 51%;
}
.campo-idade-personagem {
    width: 18%;
}
#label-idade-personagem {
    width: 42%;
}
#input-idade-personagem {
    width: 58%;
}
.campo-altura {
    width: 18%;
}
#label-altura {
    width: 46%;
}
#input-altura {
    width: 54%;
}
.campo-peso-personagem {
    width: 18%;
}
#label-peso-personagem {
    width: 37%;
}
#input-peso-personagem {
    width: 63%;
}
.campo-data-atual {
    width: 36%;
}
#label-data-atual {
    width: 36%;
}
#input-data-atual {
    width: 64%;
}
.campo-dinheiro {
    width: 27%;
}
#label-dinheiro {
    width: 39%;
}
#input-dinheiro {
    width: 61%;
}
.campo-mao-dominante {
    width: 37%;
}
#label-mao-dominante {
    width: 50%;
}
#input-mao-dominante {
    width: 50%;
}
.campo-geas {
    width: 100%;
}
#label-geas {
    width: 6.5%;
}
#input-geas {
    width: 93.5%;
}

/* Unificar aparência dos inputs com type (date, password) ao resto dos campos */
.informacoes-gerais input[type="date"],
.informacoes-gerais input[type="password"],
.informacoes-gerais input[type="text"]#input-geas {
    height: 20px;
    border-radius: 0;
    padding: 2px 4px;
    box-sizing: border-box;
}

.status {
    height: 100%;
    width: 100%;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 120px 110px 105px;
    grid-template-rows: 30px 175px;
}
#titulo-status {
    grid-column: span 3;
}

.base {
    display: grid;
    grid-template-rows: 15% 85%;
}
.campo-base {
    height: 25px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 2px;
}
.label-base {
    width: 75px;
}
.input-base {
    width: 40px;
}

.temporario {
    display: grid;
    grid-template-rows: 15% 85%;
}
.campo-status-temporario {
    height: 25px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 2px;
}
.label-status-temporario {
    width: 20px;
    text-align: center;
}
.input-status-temporario {
    width: 35px;
}

.atual-total {
    display: grid;
    grid-template-rows: 15% 85%;
}
.campo-atual-total {
    height: 25px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 2px;
}
.label-atual-total {
    width: 20px;
    text-align: center;
}
.input-atual-total {
    width: 80px;
}

.dado-atributo {
    grid-row: 3;
    grid-column: span 4;
    display: grid;
    grid-template-columns: 85px 250px 250px;
}
.nomes-atributos {
    height: 140px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 63px;
    padding: 5px;
    gap: 5px;
}


.dados {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}
.input-dados {
    width: 50px;
}
.subtitulos {
    display: flex;
}
.subtitulo-base {
    width: 50px;
}
.subtitulo-temporario {
    width: 150px;
}
.subtitulo-total {
    width: 50px;
}

.atributo {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}
.input-atributo {
    width: 50px;
}

.combate {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 30px 175px;
}
#titulo-combate {
    grid-column: span 2;
}
.campo-combate {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 2px;
}
.btn-subtitulo {
    width: 20%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-combate {
    width: 62px;
    box-sizing: border-box;
}
.input-combate {
    width: 40px;
    box-sizing: border-box;
}

.buffs-debuffs {
    grid-column: span 4;
    box-sizing: border-box;
}

.geral-buffs-debuffs {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 150px 150px 150px 125px;
    gap: 5px;
}

.campo-vida-buffs {
    height: 25px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 2px;
}

.input-buffs {
    width: 42px;
    box-sizing: border-box;
    margin-left: 4px;
    margin-right: 4px;
}