<div class="lado-esquerdo">
    <div class="foto-personagem">
        <img id="img-personagem" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
    <div class="proeficiencias">
        {{> "systems/cinzas-no-paraiso-das-laminas/templates/partials/personagem/proeficiencias.hbs"}}
    </div>
</div>
<div class="lado-direito">
    <div class="ficha-informacoes">
        {{> "systems/cinzas-no-paraiso-das-laminas/templates/partials/personagem/ficha-informacoes.hbs"}}
    </div>
    <div class="inventario-equipamento">
        {{> "systems/cinzas-no-paraiso-das-laminas/templates/partials/personagem/inventario-equipamento.hbs"}}
    </div>
</div>