.ficha-demais-informacoes {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 69%;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    padding: 5px;
    row-gap: 5px;
}

.campo-nascimento-ate {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.campo-anotacoes {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}