<div class="campo-nascimento-ate">
    <h1 class="titulo">ATÉ AONDE IRIA</h1>
    <div id="text-ate-aonde-iria" class="text-extra">{{actor.system.demais-informacoes.ate-aonde-iria}}</div>
</div>

<div class="campo-nascimento-ate">
    <h1 class="titulo">NASCIMENTO MESTIÇA</h1>
    <div id="text-nascimento-mestica" class="text-extra">{{actor.system.demais-informacoes.nascimento-mestica}}</div>
</div>

<div class="campo-anotacoes">
    <h1 class="titulo">ANOTAÇÕES</h1>
    <div id="text-anotacoes" class="text-extra">{{actor.system.demais-informacoes.anotacoes}}</div>
</div>

<div class="campo-anotacoes">
    <h1 class="titulo">INVENTARIO</h1>
    <div id="inventario" class="text-extra">{{actor.system.inventario}}</div>
</div>