<div class="campo-nascimento-ate">
    <h1 class="titulo">ATÉ AONDE IRIA</h1>
    <textarea id="text-ate-aonde-iria">{{actor.system.demais_informacoes.ate_aonde_iria}}</textarea>
</div>

<div class="campo-nascimento-ate">
    <h1 class="titulo">NASCIMENTO MESTIÇA</h1>
    <textarea id="text-nascimento-mestica">{{actor.system.demais_informacoes.nascimento_mestica}}</textarea>
</div>

<div class="campo-anotacoes">
    <h1 class="titulo">ANOTAÇÕES</h1>
    <textarea id="text-anotacoes">{{actor.system.demais_informacoes.anotacoes}}</textarea>
</div>